<div class="sort_links">
  <p> 
    <%= "sort by:  " %>
    <span class="spread-word">
    <%= link_to "popular", {:controller => "links", :action => "index", :order_by => "points"} %>
    <%= " | " %>
    <%= link_to "recent", {:controller => "links", :action => "index", :order_by => "created_at"} %>
  </span>
  </p>
</div>